# Android MTP - automount service

[Service]
Type=forking
ExecStartPre=/usr/bin/mkdir /media/%I
ExecStart=/usr/bin/mtpfs -o allow_other /media/%I
ExecStop=/usr/bin/fusermount -u /media/%I
ExecStopPost=/usr/bin/rmdir /media/%I
