# Android MTP - automount service
[Service]
Type=simple
ExecStartPre=/usr/bin/mkdir --mode=777 /media/%I
ExecStart=/usr/bin/go-mtpfs -allow-other=true -android=true /media/%I
ExecStop=/usr/bin/fusermount -u /media/%I
ExecStopPost=/usr/bin/rmdir /media/%I
